.albumsContainer {
  margin-top: 100px;
}

.artistTitle {
  padding-left: 100px;
}

.albumCard {
  border: 1px solid black;
  max-width: 300px;
  height: fit-content;
}

.albumImage {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  max-width: 100%;
}

.albumName {
  margin: 4px;
  margin-left: 10px;
  font-size: medium;
  font-weight: bold;
  max-width: 100%;
}

.artistNameItem {
  margin: 2px;
  margin-left: 10px;
  font-size: small;
  max-width: 100%;
}
